In [ ]:
a="Hello Colab"
print(a)

Hello Colab

##**Loops**

In [ ]:
#for loop with break & continue

hi = [1,2,3,4,5]
for i in hi:
  if i==2:
    continue
  elif i==4:
    continue
  print(i)

1
3
5

##**Dictionaries**

In [ ]:
wbf = {
    'shruthi': 2313421107050,
    'sharon': 2313421107049,
    'jasmin': 2313421107027
}

keys = wbf.keys()
values = wbf.values()
print("Keys:",keys)
print("Values:",values)
print()

#.items()
items = wbf.items()
print(items)
print()
for x,y in items:
  print(x,':',y)

#update()
print()
wbf.update({'dheepika':2313421107008})
print(wbf)

#adding item using key
print()
wbf['kaviyashree']=2313421107018
print(wbf)

#pop()
print()
print("result of pop():",wbf.pop('dheepika'))

print("result of popitem():",wbf.popitem())

Keys: dict_keys(['shruthi', 'sharon', 'jasmin'])
Values: dict_values([2313421107050, 2313421107049, 2313421107027])

dict_items([('shruthi', 2313421107050), ('sharon', 2313421107049), ('jasmin', 2313421107027)])

shruthi : 2313421107050
sharon : 2313421107049
jasmin : 2313421107027

{'shruthi': 2313421107050, 'sharon': 2313421107049, 'jasmin': 2313421107027, 'dheepika': 2313421107008}

{'shruthi': 2313421107050, 'sharon': 2313421107049, 'jasmin': 2313421107027, 'dheepika': 2313421107008, 'kaviyashree': 2313421107018}

result of pop(): 2313421107008
result of popitem(): ('kaviyashree', 2313421107018)

**Nested Dictionary**

In [ ]:
# Nested Dictionary Example
# Creating a nested dictionary for a student
student = {
    "name": "Noore",
    "marks": {
        "language": 95,
        "allied math": 90,
        "data science": 92,
        "Part-4": 100
    },
    "age": 18
}

# Accessing values
print("Name:", student["name"])

print("Allied Math Marks:", student["marks"]["allied math"])

# Adding a new subject
student["marks"]["english"] = 88
print("Added English Marks:", student["marks"]["english"])

# Updating an existing subject
student["marks"]["allied math"] = 100
print("Updated Math Marks:", student["marks"]["allied math"])

# Loop through marks
print("\n--- Noore Marks ---")
for subject, mark in student["marks"].items():
    print(f"{subject}: {mark}")

# Creating a nested dictionary for multiple students
students = {
    "student1": {"name" : "Shakina", "age": 17, "grade": "A"},
    "student2": {"name": "Shruthi", "age": 16, "grade": "B"}
}

# Access and display individual student info
print("\n Shruthi's Grade:", students["student2"]["grade"])

# Loop through all students
print("\n--- All Students ---")
for student_id, info in students.items():
    print(f"{student_id} - Name: {info['name']}, Age: {info['age']}, Grade: {info['grade']}")

Name: Noore
Allied Math Marks: 90
Added English Marks: 88
Updated Math Marks: 100

--- Noore Marks ---
language: 95
allied math: 100
data science: 92
Part-4: 100
english: 88

 Shruthi's Grade: B

--- All Students ---
student1 - Name: Shakina, Age: 17, Grade: A
student2 - Name: Shruthi, Age: 16, Grade: B

##**Classes**

In [ ]:
#example program for classes in Python

class Person:
  def __init__(self,fname,lname,age):
    self.fname = fname
    self.age = age
    self.lname= lname

  def printname(self):
      print("Hello, my name is "+self.fname, self.lname+'.')

obj = Person('Lara','Raj',20)
obj.printname()

obj.age=24
print(obj.age)

Hello, my name is Lara Raj.
24

##**Inheritance**

In [ ]:
class Student(Person):
  pass

inst = Student("Aisis","Heart",20)
inst.printname()

Hello, my name is Aisis Heart.

In [ ]:
#using .super()

class Student(Person):
  def __init__(self,fname,lname,age,year):
    super().__init__(fname,lname,age)
    self.gradyear = year

  def welcome(self):
    print(f'Welcome, {self.fname} {self.lname} to the class of {self.gradyear}!!!')

rno21 = Student('Lana','Mikaelson',21,2026)
rno21.welcome()

Welcome, Lana Mikaelson to the class of 2026!!!

##**\__iter__\()**

In [ ]:



class MyNum:
  def __iter__(self):
    self.x = 1
    return self

  def __next__(self):
    if self.x <= 21:
      a = self.x
      self.x+=1
      return a
    else:
      raise StopIteration

myobj = MyNum()
myiter = iter(myobj)

for i in myiter:
  print(i, end='  ')
  if (i%7)==0:
    print('\n')

1  2  3  4  5  6  7

8  9  10  11  12  13  14

15  16  17  18  19  20  21

In [ ]:
gems = ('emerald','pearl','sapphire')
myit = iter(gems)

print(next(myit))
print(next(myit))
print(next(myit))

emerald
pearl
sapphire

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Drive!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

**Types of Functions**

In [ ]:
#Paramerterized function

def add(a,b):
  c=a+b
  print("paramerterized function:",c)
add(10,20)

#Non-Paramerterized function

def sum():
  a,b=10,50
  c=a+b
  print("non-paramerterized function:",c)
sum()

paramerterized function: 30
non-paramerterized function: 60

**List**

In [ ]:
#my list
my_list=[1,1.11,"G",27,49,50]
print(my_list)

print()
#Different types of list in formations
print(len(my_list))
print(type(my_list))

print()
#Slicing operater
a=[5,10,1.5,20,2.5,30,"hello"]
print(a[:9])
print(a[3:15])
print(a[0:])
print(a[-5])
print(a[-9:-1])

print()
#Appand and Expend
a=[5,10,1.5,20,2.5,30,"hello"]
a.append(20)
print("appand:",a)
b=[27,49,50]
a.extend(b)
print("extend",a)

print()
#Remove and pop function
a=[5,10,1.5,20,2.5,30,"hello"]
a.remove(10)
print("remove:",a)
a.pop(2)
print("pop:",a)

[1, 1.11, 'G', 27, 49, 50]

6
<class 'list'>

[5, 10, 1.5, 20, 2.5, 30, 'hello']
[20, 2.5, 30, 'hello']
[5, 10, 1.5, 20, 2.5, 30, 'hello']
1.5
[5, 10, 1.5, 20, 2.5, 30]

appand: [5, 10, 1.5, 20, 2.5, 30, 'hello', 20]
extend [5, 10, 1.5, 20, 2.5, 30, 'hello', 20, 27, 49, 50]

remove: [5, 1.5, 20, 2.5, 30, 'hello']
pop: [5, 1.5, 2.5, 30, 'hello']

**Tuple**

In [ ]:
my_tuple=("cherry","strawberry","kiwi","blueberry")
print(my_tuple)

print()
#Access tuple
print(my_tuple[0])
print(my_tuple[-3])

print()
#Slicing operater
a=(27,49,50,3,11,1.3,3.1,"Leo")
print(a[:])
print(a[3:])
print(a[:6])

print()
#Adding
b=(27,49,50)
wind=a+b
print("tuple adding method:",wind)

print()
#Multiply
Fruits=("cherry","strawberry","kiwi","blueberry")
print(Fruits*2)

('cherry', 'strawberry', 'kiwi', 'blueberry')

cherry
strawberry

(27, 49, 50, 3, 11, 1.3, 3.1, 'Leo')
(3, 11, 1.3, 3.1, 'Leo')
(27, 49, 50, 3, 11, 1.3)

tuple adding method: (27, 49, 50, 3, 11, 1.3, 3.1, 'Leo', 27, 49, 50)

('cherry', 'strawberry', 'kiwi', 'blueberry', 'cherry', 'strawberry', 'kiwi', 'blueberry')

**Sets**

In [ ]:
months={"jan","oct","july","sept"}
print(months)

print()
#add function
months.add("feb")
print("adding values:",months)

print()
#update function
months.update(["mar","dec","may"])
print("updating the values:",months)

print()
#discard
months.discard("jan")
print("discard the given value:",months)

print()
#remove
months.remove("oct")
print("remove the given value:",months)

print()
#pop function
months.pop()
print("pop the random value:",months)

print()
#union
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a.union(b)
print("union set:",c)

print()
#intersection
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.intersection(b)
print("intersection set:",c)

print()
#symmetric_difference
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.symmetric_difference(b)
print("symmetric_difference set:",c)

{'jan', 'oct', 'july', 'sept'}

adding values: {'feb', 'jan', 'july', 'oct', 'sept'}

updating the values: {'may', 'feb', 'jan', 'mar', 'july', 'dec', 'oct', 'sept'}

discard the given value: {'may', 'feb', 'mar', 'july', 'dec', 'oct', 'sept'}

remove the given value: {'may', 'feb', 'mar', 'july', 'dec', 'sept'}

pop the random value: {'feb', 'mar', 'july', 'dec', 'sept'}

union set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

intersection set: {4, 5}

symmetric_difference set: {1, 2, 3, 6, 7, 8}